@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 16px;
}
.a-flex {
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.d-flex{
    display: flex;
}
.t-flex {
    display: flex;
    justify-content: space-evenly;
}
.f-flex {
    display: flex;
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.pa-3{
    padding: 0.75rem;
}
.px-3{
    padding: 0 0.75rem;
}
.topbar {
    padding: 1.5rem 1.25rem;
}
.left-topbar{
    width: 33%;
}
.right-topbar {
    width: 66%;
}
.right-topbar > div {
    width: 33%;
}
.mail {
    padding: 0 10px;
}
.btn {
    text-align: end;
    margin-top: 0;
}
.menu {
    color: white;
    padding:19px;
 }
ul{
        list-style: none;
        text-decoration: none;
}
button {
    background-color: #fd5f00;
    padding: 8px 16px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #fd5f00;
}
.nav-text{
    font-size: 15px;
    line-height: 1.8;
}
button:hover{
    background-color: transparent;
    color: #fd5f00;
}
.body-img{
    background-image: url('./images/bg_2.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
}
.form-img{
    background-image: url('./images/bg_5.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 633px;
    position: relative;
}
.about-img2 {
    width: 100%;
    background-image: url('./images/img2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 918px;
    margin-top: -10px;
}
.bg2 {
    width: 100%;
    background-image: url('./images/bg_3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 778px;
    margin-top: 0px;
}
.img-size1 {
    width: 100%;
    background-image: url('./images/course-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    margin-top: 0px;
}
.img-size2 {
    width: 100%;
    background-image: url('./images/course-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    margin-top: 0px;
}
.img-size3 {
    width: 100%;
    background-image: url('./images/course-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    margin-top: 0px;
}
.img-size4 {
    width: 100%;
    background-image: url('./images/course-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    margin-top: 0px;
}
.img-teacher1 {
    width: 100%;
    background-image: url('./images/teacher-1.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    height: 400px;
    margin-top: 0px;
}
.img-teacher2 {
    width: 100%;
    background-image: url('./images/teacher-2.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    height: 400px;
    margin-top: 0px;
}
.img-teacher3 {
    width: 100%;
    background-image: url('./images/teacher-3.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    height: 400px;
    margin-top: 0px;
}
.img-teacher4 {
    width: 100%;
    background-image: url('./images/teacher-4.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    height: 400px;
    margin-top: 0px;
}
.image_1 {
    width: 100%;
    background-image: url('./images/image_1.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    height: 280px;
}
.image_2 {
    width: 100%;
    background-image: url('./images/image_2.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    height: 280px;
    margin-top: 0px;
}
.image_3 {
    width: 100%;
    background-image: url('./images/image_3.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    height: 280px;
    margin-top: 0px;
}
.container {
    background-color: #fd5f00;
    text-align: center !important;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 293px;
    margin-bottom: 10px;
    color: white;
    margin-top: -4px;
    
}
.container > div {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.container > div:nth-child(2n){
    background-color:#0d1128;
}
.container .fa-paper-plane{
    color: #fff;
}

.container h4{
    margin-bottom: 20px;
    margin-top: 10px;
}
.b-container {
    background-color:#0d1128;
} 
 i {
   color:  #fd5f00;
    }
    .fas fa-chalkboard-teacher {
        color: white;
        font-size: 30px;

    }
a {
    color: white;
    text-decoration: none;
}
.nav-logo {
    font-weight: 900;
    font-size: 38px;
    padding: 0;
    line-height: 1;
    text-transform: uppercase;
    color: black;
}
span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    color: black;
}
.navigation{
    background:#221f45;
}
nav{
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0px 20px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    align-items: center;
}
.navigation .menu > li{
    position: relative;
}
.navigation .menu > li a{
    text-decoration: none;
    font-size: 14px;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #fff;
    display: block;
    opacity: 1 !important;
}
::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  .top-left-text {
      
      width: 40%;
    color: white;
    position: absolute;
    top: 119px;
    left: 90px;
    line-height: 40px;
  }
  .top-right {
      width: 60%;
  }
input{
    color: #fff;
    font-size: 18px;
    height: 54px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 25px;
    box-sizing: border-box;
    background: transparent !important;
    border-radius: 30px;
    width: 280px;
}
.btn2 {
    border-radius: 30px;
    height: 57px;
    width: 133px;
}
.navigation .menu > li.active a{
    color:  #fd5f00;   
}
.navigation .menu > li:hover{
    border-color: #fd5f00;
}
.navigation .menu > li:hover a{
    color:#fd5f00;
}
.d-flex{
    display: flex;
}
ul{
    list-style: none;
}
input{
    background-color:#0d1128;
}
.heading {
    margin-top: 50px;
}
.p-text1 {
    margin-top: 25px;
    line-height: 29px;
    /* line-height: 1.5em; */
    margin-right: 32px;
}
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.5;
    background: linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
    transition: .5s ease;
    height: 100%;
}
.overlay2 {
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.5;
    background: linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
    transition: .5s ease;
    height: 119%;
}
h1 {
    font-size: 50px;
    color: #fff;
    line-height: 1.2;
    font-weight: 600;
}

h2 {
    font-size: 40px;
    color: #fff;
}
.heading h2 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
}
.h2-text {
    color: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    margin-bottom: 6px;
}
.row-data {
    text-align: center !important;
    margin-top: 48px;
}

.p-text {
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    margin-bottom: 20px;
}

section {
    display: block;
}

.main-container {
    width: 80%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.s-icon1 {
    line-height: 1;
    width: 80px;
    height: 80px;
    background: #fd5f00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
body {
    color: #666666;
}
h3 {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
 }
 
.section-icon {
    line-height: 1;
    position: relative;
    width: 80px;
    height: 80px;
    background: #fd5f00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin-top: 6px;
    margin-right: 15px;
    margin-top: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-icon i {
    color: white;
    font-size: 32px;
}
.safety-text {
        margin-bottom: 30px;
        margin-left: 8px;
        margin-right: 25px;
    }
.margin {
    margin-bottom: 30px;
}
.t-color{
    color: white;
    line-height: 1.8;
}
.s-container > div {
    width: 50%;
    margin-left: 50px;
    margin-top: 150px;
}
.text-area2 {
    margin-top: 8%;
}
.text-area2 h2 {
    margin-bottom: 10px;
    font-weight: 600;
}

.img-size1 .img-size2 .img-size3 .img-size4 {
    width: 100%;
    height: 300px;
}
.img-teacher1 .img-teacher2 .img-teacher3 .img-teacher4 {
    width: 100%;
    height: 400px;
}
.teachers-img > div {
    width: 22%;
}
.row-images-teacher {
    width: 85%;
    display: flex;
}
.teacher-blog {
    width: 31%;
    margin: 0 auto;
    text-align: center;
}
.teacher-sub-blog {
    background: #fff;
    height: 260px;
}
.sub-blog1 {
align-items: baseline;
display: flex;
text-align: right;
justify-content: space-between;
}

.teacher-sub-blog h3 {
    color: black;
    font-weight: 400;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.teacher-sub-blog p {
    color:#6f6f6f;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}
.row-images-teacher > div {
    width: 30%;
    height: 300px;
}
.teachers-text2 > div {
    width: 22%;
}
.row-images > div {
    width: 23%;
    margin-top: 74px;
}
.container-4 {
    width: 85%;
    margin: 0 auto;
}
.para-icon {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 1.5rem !important;
    margin-bottom: 12px;
}
.para-icon span {
    width:100%;
    color: #666666;
}
.para-icon span i {
    letter-spacing: 9px;
}
.s-container {
    position:absolute;
}
.text-below {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #666666;
    margin-right: 0;
    margin-left: 14px;
}
.btn-primary {
    background: #fd5f00;
    border: 1px solid #fd5f00;
    color: #fff;
    margin-top: 21px;
    cursor: pointer;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.btn-primary2 {
    background: #fd5f00;
    border: 1px solid #fd5f00;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.courses {
    padding: 7em 0;
    position: relative;
}
.container-teacher {
    background-color: #f8f9fa !important;
    width: 100%;
    height: 1023px;
}
.container-teacher h2 {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 1.5rem !important;
}
.container-teacher h2 p {
    margin-top: 0;
    margin-bottom: 1rem; 
}
.certi-tech {
    text-align: center;
    padding-bottom: 0.5rem !important;
    margin-bottom: 3rem !important;
}
.certi-tech h2 {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 1.5rem !important;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
}
.teacher-text2 {
    text-align: center;
}
.teacher-text2 h3 {
    font-size: 23px;
    margin-bottom: 0;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 21px;
    font-weight: 600;
}
.teacher-text2 span {
    text-transform: uppercase;
    color: #fd5f00;
    display: block;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0.5rem !important;
}
.form {
    width: 50%;
    float: right;
    position: relative;
}
.form p {
    color: rgba(255, 255, 255, 0.9);
}
.form h2 {
    margin-top: 96px;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}
.form-text  {
    width: 65%;
    margin-bottom:3rem !important;
}
.f-name {
    position: relative;
    width: 84%;
    display: block;
    margin-bottom: 1rem;
}
.form2 {
    width: 84%;
    border: transparent!important;
    height: 58px!important;
    padding-left: 0;
    padding-right: 0;
    background: 0 0!important;
    font-size: 16px;
    border-radius: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.form-select {
    margin-top: 16px;
}
input {
    border: transparent!important;
    border-bottom: 1px solid rgba(255,255,255,.2)!important;
    height: 58px!important;
    padding-left: 0;
    padding-right: 0;
    background: 0 0!important;
    font-size: 16px;
    border-radius: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    width: 247px;
}
.date-container {
    background-color: #f8f9fa !important;
    text-align: center!important;
    padding-top: 7em;
    position: relative;
    height: 850px;
}
.recent h2 {
    font-size: 44px;
    font-weight: 600;
    color: rgba(0,0,0,.8);
    margin-top: 0;
    margin-bottom: 1.5rem!important;
}
.meta-date {
    display: inline-block;
    background: #5d50c6;
    text-align: center;
    color: white;
    padding: .5rem!important;
    height: 88px;
    margin-top: 171px;
    width: 32px;
    float: left;
}
.meta-date span {
    color: white;
    font-weight: 700;
    line-height: 2;
    font-size: 12px;
}
.row-data {
    text-align: start;
    margin-left: 4px;
    margin-right: 57px;
}
.image-data {
    padding-top: -4rem;
    padding-right: 6rem;
    padding-left: 6rem;
}
.image-data > div {
    width: 27%;
    height: 273px;
    background-color: white;
    
}
.image-data h3 {
    text-align: start;
    font-size: 20px;
    margin-bottom: 16px;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
    font-weight: 400;
}
.image-data p {
    text-align: start;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #666;
}

.blog{
    width: 100%;
    height: 600px;
    background: #FAFAFA;
}
.blog_1{
    width: 100%;
    margin: 0 auto;
}
.blog_2{
    width: 70%;
    padding:20px 0;
    margin: 0 auto;
}
.blog_3{
    width: 30%;
    height: 300px;
}
.blog__image1{
    height: 280px;
    width: 100%;
    background-image: url(./blog_1.jpg);
    background-size: cover;
}
.blog__image2{
    height: 280px;
    width: 100%;
    background-image: url(./blog_2.jpg);
    background-size: cover;
}
.blog__image3{
    height: 280px;
    width: 100%;
    background-image: url(./blog_3.jpg);
    background-size: cover;
}
.blog{
    background: #FAFAFA;
    height: 850px;
}
.blog_1{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
}
.blog_2{
    width: 85%;
    display: flex;
}
.blog_3{
    width: 31%;
    margin: 0 auto;
    text-align: center;
}
.blog_sub{
    background: #fff;
    height: 260px;
}
.blog_sub h6{
    color:#000000;
    font-weight: 400;
    padding:10px;
    font-size: 20px;
    text-align: center;
}
.blog_sub p{
    color: #6F6F6F;
    padding:10px;
    font-size: 16px;
    line-height: 1.8;
    text-align: left;
}
#blog_apply{
    background: #FE5F01;
    color: #fff;
    height: 40px;
    box-sizing: border-box;
    border: none;
    font-size:14px;
    width: 120px;
    margin: 0 10px;
    font-weight: 600;
    border-radius: 30px;
    outline: none;
}
.blog_sub1{
    align-items: baseline;
    display: flex;
    text-align: right;
    justify-content: space-between;
}
.blog_sub1 h6{
    color: #FE5F01;
    text-align: right;
    font-size: 16px;
    padding: 0 10px;
}
.blog_sub1 .fa{
    color: #B3B3B3;
    align-items: right;
}
#blog-icon{
    font-size: 12px;
    color: #fff;
    padding: 0 5px;
}
#blog-icon1{
    font-size: 16px;
    color: #B3B3B3;
    padding: 0 5px;
}
.blog_sub span {
    display: inline;
}
#blog-icon1  {
    color: black !important;
}

